#app {
  font-family: "Roboto", sans-serif !important;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
  font-size: 1.1rem !important;
  font-weight: 300 !important;
}

.bg-main {
    height: 100vh;
}

.no-decoration a{
    text-decoration: none;
}

.v-parallax__image {
    opacity: 0.1 !important;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}